<!-- Input y Output -->
<article class="rounded p-3 border mb-5">   
    <h2 class="mb-4 text-decoration-underline">Input y Output</h2>
    <app-padre #padre class="d-block p-3 border border-success rounded"></app-padre>
</article>
<!-- Input y Output -->

<!-- uso de ng-content -->
<article class="rounded p-3 border mb-5">
    <h2 class="mb-4 text-decoration-underline">ng-content</h2>
    <app-content>
        <form>
            <input type="text" placeholder="Buscar" class="form-control">
        </form>
    </app-content>
</article>
<!-- uso de ng-content -->

<!-- Obtenet variable por referencia -->
<article class="rounded p-3 border mb-5">
    <h2 class="mb-4 text-decoration-underline">Variable por referencia</h2>
    <h3>{{ padre.edad }}</h3>
</article>
<!-- Obtenet variable por referencia -->

<!-- ngIf / Else / ng-template -->
<article class="rounded p-3 border mb-5">
    <h2 class="mb-4 text-decoration-underline">If else</h2>
    <h3 class="p-3 rounded text-light" [ngClass]="showTitle ? 'bg-success' : 'bg-danger'">{{ showTitle ? 'Titulo' : 'Otra cosa' }}</h3>
    <h3 class="my-4" *ngIf="showTitle; else sinTitulo">{{ title }}</h3>

    <ng-template #sinTitulo>
        <h3 class="my-4" *ngIf="!showTitle">Sin titulo</h3>
    </ng-template>

</article>
<!-- ngIf / Else / ng-template -->

<!-- ng-template + context -->
<article class="rounded p-3 border mb-5 row mx-0">
    <h2 class="mb-4 text-decoration-underline">ng-template + context</h2>
    <ng-container *ngFor="let item of data">
        <ng-container *ngTemplateOutlet="card; 
        context: { 
            titulo: item.title, 
            texto: item.text
        }"></ng-container>
    </ng-container>
</article>

<ng-template #card let-titulo = titulo let-texto = texto>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="shadow-sm border p-3 rounded">
            <h2 class="mb-2">{{ titulo }}</h2>
            <p>{{ texto }}</p>
        </div>
    </div>
</ng-template>
<!-- ng-template + context -->

<!-- ngSwitch  -->
<article class="rounded p-3 border mb-5">
    <h2 class="mb-4 text-decoration-underline">ngSwitch</h2>
    <div [ngSwitch]="message">
        <h3 *ngSwitchCase="'hola'">Hola Mundo</h3>
        <h3 *ngSwitchCase="'bye'">Chao Mundo</h3>
        <h3 *ngSwitchDefault>Otra cosa</h3>
    </div>
</article>
<!-- ngSwitch  -->